@use '../global/variables.scss' as *;
@use '../global/mixins.scss' as *;

.footer {
  .section {
    &--small {
      padding: 24px 0;
      border-bottom: var(--base-border);
      .section__wrapper {
        width: 100%;
        padding: 0 1.3rem;
        @include flex($justify: flex-end);
      }
    }
  }
}
