@use '../global/variables.scss' as *;
@use '../global/mixins.scss' as *;

.header {
  padding: 24px 0;
  background-color: var(--primary-color);
  &__wrapper {
    width: 100%;
    padding: 0 1.3rem;
  }
  &__row {
    @include flex($justify: space-between);
  }
}

.logo {
  color: var(--secondary-color);
  text-decoration: none;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 500;
}
