@use '../global/variables.scss' as *;
@use '../global/mixins.scss' as *;

#svg-circle {
  background: transparent;
}

.mask-target {
  mask: url('../../images/circle.svg');
  mask-repeat: no-repeat;
  mask-size: 0rem;
  mask-position: var(--mask-position);
  transition: mask-position 0ms, mask-size 300ms;
  &[data-active='true'] {
    mask-size: 17.5rem;
  }
}

.mask-parent {
  position: relative;
  display: block;
}

.mask-child {
  @include absolute;
}
