@use '../global/variables.scss' as *;
@use '../global/mixins.scss' as *;
@use 'sass:color';

// ****************** General ****************** //
// The actual switch input
.switch {
  position: relative;
  height: 1.3rem;
  width: 2.6rem;
  display: inline-block;
  &__input {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked + .switch__control {
      background: var(--primary-color);
      border: $base-border;
      &:before {
        transform: translateX(1.25rem);
        background-color: var(--secondary-color);
      }
    }
  }
  &__control {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--primary-color);
    transition: 0.3s;
    border: $base-border;
    border-radius: 0.65rem;
    &:before {
      position: absolute;
      content: '';
      height: 0.9rem;
      width: 0.9rem;
      left: 3px;
      bottom: 3px;
      background-color: var(--secondary-color);
      border-radius: 0.45rem;
      transition: 0.4s;
    }
  }
}
