@use './variables.scss' as *;
@use './mixins.scss' as *;

.accordion {
  @include clear-list;
  width: 100%;
  display: block;
  &[data-accordion-active='true'] {
    .accordion__item {
      margin-top: -1rem;
      box-shadow: 1px -3px 10px 0px rgba(0, 0, 0, 0.4);
    }
    .accordion__button {
      font-size: 1rem;
      padding: var(--spacing-16);
    }
  }
  &__item {
    display: block;
    width: 100%;
    position: relative;
    z-index: 0;
    margin-top: -3px;
    transition: margin-top var(--base-duration-long),
      box-shadow var(--base-duration-long);
    &[data-item-sticky='true'] {
      position: sticky;
      top: 72.02px;
    }
  }
  &__button {
    @include clear-button;
    width: 100%;
    display: inherit;
    text-align: left;
    overflow: hidden;
    padding: var(--spacing-24);
    border: none;
    border-bottom: $base-border;
    border-top: $base-border;
    background: var(--primary-color);
    @include heading-style(var(--h5-font-size));
    @include flex($justify: space-between);
    &.hover,
    &:hover,
    &:focus {
      background: var(--secondary-color);
      color: var(--primary-color);
    }
  }
  &__title {
    margin-bottom: 0;
  }

  .panel {
    // height: calc(100vh - calc(127.56px + 72.02px));
    height: 0;
    background: var(--primary-color);
    width: 100%;
    transition: height 1s;
    // border-top: $base-border;
    &[aria-hidden='false'] {
      height: auto;
    }

    &__wrapper {
      width: 100%;
      max-width: var(--site-width-l);
      margin: 0 auto 0 0;
      padding: var(--spacing-48);
    }
    &__row {
      display: block;
      position: relative;
      @include tablet-landscape-up {
        @include flex($wrap: nowrap);
        gap: var(--spacing-48);
      }
    }
    &__col {
      width: 100%;
      @include tablet-landscape-up {
        width: auto;
        flex: 1;
      }
    }
    &__figure {
      @include aspect-ratio;
    }
  }
}
