@use './variables.scss' as *;
@use './mixins.scss' as *;

.buttons {
  width: 100%;
}

.button {
  @include button-base;

  &--list-link {
    @extend .button;
    text-align: left;
    overflow: hidden;
    padding: var(--spacing-32);
    border: none;
    border-bottom: var(--link-border-hover-color);
    @include heading-style(2rem);
    // &:hover,
    // &:focus {
    //   background: $default-list-background-color--hover;
    //   color: $default-link-color--hover;
    // }
  }
  &--contact {
    @extend .button;
    @include heading-style(6rem);
  }
}
