@use './variables.scss' as *;
@use './mixins.scss' as *;

.buttons {
  width: 100%;
}

.button {
  @include clear-btn;
  @include btn-base;
  color: $default-text-color;
  &--list-link {
    @include clear-btn;
    background: $default-background-color;
    text-align: left;
    overflow: hidden;
    transition: all 300ms;
    padding: 1.35rem;
    color: $default-text-color;
    border-bottom: $default-base-border;
    @include heading-style(2rem);
    &:hover,
    &:focus {
      background: $default-list-background-color--hover;
      color: $default-link-color--hover;
    }
  }
  &--contact {
    @extend .button;
    @include heading-style(6rem);
  }
}
