@use './variables.scss' as *;
@use './mixins.scss' as *;

.icon {
  &:after {
    display: inline-block;
    font-style: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
  }
  &--message {
    @extend .icon;
    &:after {
      content: '\f27a';
    }
  }
  &--circle-info {
    @extend .icon;
    &:after {
      content: '\f05a';
    }
  }
  &--circle-half-stroke {
    @extend .icon;
    &:after {
      content: '\f042';
    }
  }
  &--circle-plus {
    @extend .icon;
    &:after {
      content: '\f055';
    }
  }
  &--circle-minus {
    @extend .icon;
    &:after {
      content: '\f056';
    }
  }
  &--circle {
    @extend .icon;
    &:after {
      content: '\f111';
    }
  }
  &--circle-dot {
    @extend .icon;
    &:after {
      content: '\f192';
    }
  }
  &--sun {
    @extend .icon;
    &:after {
      content: '\f185';
    }
  }
  &--moon {
    @extend .icon;
    &:after {
      content: '\f186';
    }
  }
  &--arrow-long-right {
    @extend .icon;
    &:after {
      content: '\f178';
      padding-left: 0.25rem;
    }
  }
  &--linkedin {
    @extend .icon;
    &:after {
      font: var(--fa-font-brands);
      content: '\f0e1';
    }
  }
  &--github {
    @extend .icon;
    &:after {
      font: var(--fa-font-brands);
      content: '\f09b';
    }
  }
  &--instagram {
    @extend .icon;
    &:after {
      font: var(--fa-font-brands);
      content: '\f16d';
    }
  }
  &--paper-plane {
    @extend .icon;
    &:after {
      content: '\f1d8';
    }
  }
  &--up-right-from-square {
    @extend .icon;
    &:after {
      content: '\f35d';
    }
  }
  &--angle-right {
    @extend .icon;
    &:after {
      content: '\f105';
    }
  }
  &--angle-right--before {
    &:before {
      display: inline-block;
      font-style: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font: var(--fa-font-solid);
      content: '\f105';
    }
  }
  &--book {
    @extend .icon;
    &:after {
      content: '\f02d';
    }
  }
}
