@use './variables.scss' as *;
@use './mixins.scss' as *;
@use 'sass:math';

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

.mask-section {
  overflow: hidden;
}

.main {
  padding-top: calc(1.5rem + calc(var(--spacing-16) * 2));
}

.section {
  $self: &;
  position: relative;
  width: 100%;
  // margin-top: -3px;
  margin-bottom: 0;
  // padding: 1rem 0 1rem 0;
  // border-bottom: $base-border;
  // border-top: $base-border;
  background: var(--primary-color);
  &__wrapper {
    width: 100%;
    max-width: var(--site-width-xl);
    margin: auto;
    padding: 0 var(--spacing-32);
  }
  &__row {
    width: 100%;
    @include flex($justify: flex-start);
    gap: 1rem;
    padding: 1rem 0;
  }
  &__col {
    flex: 1;
    // width: 100%;
    // max-width: 800px;
    // h1,
    // h2,
    // h3,
    // h4,
    // h5,
    // h6 {
    //   margin-bottom: 1rem;
    // }
  }
}

.ghost {
  @include absolute;
  height: auto;
  pointer-events: none;
}

.visually-hidden,
.visually-hide-label,
.visually-hide-text {
  position: absolute;
  right: 999999999px;
  width: 0;
  height: 0;
  opacity: 0;
}

// ********************* POSITION MODIFIERS ********************** //
.position {
  &--sticky {
    position: sticky;
    top: 72px;
  }
}

// ********************* FLEXBOX ********************** //
.flex {
  display: block;
  @include tablet-portrait-up {
    @include flex;
  }
  &--row-reverse {
    @extend .flex;
    @include tablet-portrait-up {
      @include flex($dir: row-reverse);
    }
  }
  &--col {
    @extend .flex;
    @include tablet-portrait-up {
      @include flex($dir: column);
    }
  }
  &--col-reverse {
    @extend .flex;
    @include tablet-portrait-up {
      @include flex($dir: column-reverse);
    }
  }
  &--space-between {
    @extend .flex;
    @include tablet-portrait-up {
      @include flex($justify: space-between);
    }
  }
  &--align-top {
    @extend .flex;
    @include tablet-portrait-up {
      @include flex($align: flex-start);
    }
  }
  &--justify-start {
    @extend .flex;
    @include tablet-portrait-up {
      @include flex($justify: flex-start);
    }
  }
}

// ********************* LAYOUT MODIFIERS ********************** //
.padding {
  @each $position in $positions {
    &--#{$position} {
      @each $size in $sizes {
        &-#{$size} {
          padding-#{$position}: $size;
        }
      }
    }
  }
}
.margin {
  @each $position in $positions {
    &--#{$position} {
      @each $size in $sizes {
        &-#{$size} {
          margin-#{$position}: $size;
        }
      }
    }
  }
}
