@use './variables.scss' as *;
@use './mixins.scss' as *;

.list {
  @include clear-list;
  width: 100%;
  display: block;
  &__item {
    display: block;
    width: 100%;
    position: relative;
    margin-top: -3px;
    z-index: 0;
  }
  &__link {
    width: 100%;
    display: block;
    border-bottom: $base-border;
    border-top: $base-border;
    background: var(--primary-color);
    @include heading-style(var(--h6-font-size));
    padding: var(--spacing-24);
    text-decoration: none;
    margin-bottom: 0;
    &:hover,
    &:focus {
      background: var(--secondary-color);
      color: var(--primary-color);
    }
  }
}
