@use './variables.scss' as *;
@use './mixins.scss' as *;

.nav {
  &__list {
    @include clear-list;
    @include flex($wrap: nowrap);
  }
  &__item {
    display: inline-block;
    margin-left: var(--spacing-16);
  }
  &__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 2rem;
    color: var(--secondary-color);
    &:hover,
    &:focus {
      color: var(--tertiary-color);
    }
  }
}
