@use './variables.scss' as *;
@use './mixins.scss' as *;

html,
p,
.p,
p span {
  font-family: var(--base-font-family);
  font-weight: var(--base-font-weight);
  line-height: var(--base-line-height);
  font-size: var(--mobile-font-size);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  @include tablet-portrait-up {
    font-size: var(--tablet-font-size);
  }
  @include desktop-up {
    font-size: var(--desktop-font-size);
  }
}

p {
  margin: 0 0 1rem 0;
}

h1,
.h1 {
  @include heading-style(var(--h1-font-size));
  &--large {
    @include heading-style(12rem);
  }
}

h2,
.h2 {
  @include heading-style(var(--h2-font-size));
}

h3,
.h3 {
  @include heading-style(var(--h3-font-size));
}

h4,
.h4 {
  @include heading-style(var(--h4-font-size));
}

h5,
.h5 {
  @include heading-style(var(--h5-font-size));
}

h6,
.h6 {
  @include heading-style(var(--h6-font-size));
}

.section__content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1rem;
  }
}

.link {
  color: var(--link-color);
  text-decoration: underline;
  &:hover,
  &:focus {
    color: var(--link-color-hover);
  }
}

span.bounce-letter {
  display: inline-block;
}
