@use 'sass:math';
@use 'sass:color';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root,
[data-theme='default'] {
  // Mask
  --mask-position: center;

  // Colors
  --dark-lava: hsla(25, 9%, 25%, 1);
  --isabelline: hsla(50, 21%, 95%, 1);
  --melon: hsla(14, 51%, 76%, 1);
  --blast-off-bronze: #9e6e5fff;
  --medium-carmine: hsla(14, 51%, 44%, 1);
  --caput-mortuum: hsla(15, 51%, 24%, 1);

  --black: hsla(0, 0%, 0%, 1);
  --onyx: hsla(0, 0%, 25%, 1);
  --granite-gray: hsla(0, 0%, 38%, 1);
  --sonic-silver: hsla(0, 0%, 44%, 1);

  --gray-web: hsla(0, 0%, 50%, 1);
  --quick-silver: hsla(0, 0%, 63%, 1);
  --silver: hsla(0, 0%, 75%, 1);
  --gainsboro: #e0e0e0ff;
  --cultured: #f0f0f0ff;
  --white: hsla(0, 0%, 100%, 1);

  // --white: #ffffff;
  // --black: #000000;
  // --pale-silver: #bcb8b1ff;

  // --deep-space-sparkle: hsla(193, 34%, 30%, 1);
  // --blue-sapphire: hsla(190, 100%, 23%, 1);
  // --viridian-green: hsla(181, 88%, 31%, 1);
  // --middle-blue-green: hsla(160, 41%, 70%, 1);
  // --dark-olive-green: hsla(74, 32%, 32%, 1);

  // --timberwolf: hsla(35, 17%, 86%, 1);
  // --linen: hsla(31, 51%, 92%, 1);
  // --bone: hsla(31, 30%, 86%, 1);
  // --champagne-pink: hsla(26, 31%, 84%, 1);
  // --desert-sand: hsla(22, 31%, 76%, 1);
  // --desert-sand2: #e7cbb0;

  --color0: var(--timberwolf);
  --color1: var(--pale-silver);
  --color2: var(--linen);
  --color3: var(--champagne-pink);
  --color4: var(--desert-sand);
  --color5: var(--bone);

  // Fonts
  --base-font-family: 'Poppins', sans-serif;

  // Font Size
  --base-font-size: 24px;
  --tablet-font-size: 16px;
  --mobile-font-size: 12px;

  --h1-font-size: 6rem;
  --h2-font-size: 5rem;
  --h3-font-size: 4rem;
  --h4-font-size: 3rem;
  --h5-font-size: 2rem;
  --h6-font-size: 1rem;

  // Line Height
  --base-line-height: 1.35;
  --heading-line-height: 1;

  // Font Weight
  --base-font-weight: 300;
  --heading-font-weight: 700;

  // Site Width
  --site-width-xl: 1905px;
  --site-width-l: 1400px;
  --site-width-m: 1040px;
  --site-width-s: 840px;

  // Spacing
  --spacing-8: 0.333rem;
  --spacing-16: 0.667rem;
  --spacing-24: 1rem;
  --spacing-32: 1.333rem;
  --spacing-48: 2rem;
  --spacing-64: 2.667rem;
  --spacing-120: 5rem;

  // Box Shadow
  --box-shadow: 0px 0px 13px 6px rgba(54, 54, 54, 0.71);
  --box-shadow-inset: inset 0px 0px 13px 6px rgba(54, 54, 54, 0.71);

  // Text Shadow
  --text-shadow: -3px 2px 5px rgba(54, 54, 54, 0.5);
  --text-shadow--hard: -5px 5px 0px #363636;

  // Transitions
  --base-duration: 300ms;
  --base-duration-long: 1s;
  --base-timing: ease-in-out;
}

[data-theme='default'] {
  // Colors
  --primary-color: var(--cultured);
  --secondary-color: var(--onyx);
  --accent-color: var(--granite-gray);
}

[data-theme='alt'] {
  // Colors
  --primary-color: var(--white);
  --secondary-color: var(--granite-gray);
  --accent-color: var(--onyx);
}

// Border
$base-border: 3px solid var(--secondary-color);

// Layout Modifier Sizes (see layout.scss)
$sizes: 8px, 16px, 24px, 32px, 48px, 64px, 120px, 160px, 200px;
$positions: top, right, bottom, left;
