@use 'sass:math';
@use 'sass:color';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
  // Mask
  --mask-position: center;

  // Colors
  --dark-lava: hsla(25, 9%, 25%, 1);
  --melon: hsla(14, 51%, 76%, 1);
  --isabelline: hsla(50, 21%, 95%, 1);
  --medium-carmine: hsla(14, 51%, 44%, 1);

  // Fonts
  --base-font-family: 'Poppins', sans-serif;

  // Font Size
  --base-font-size: 24px;
  --tablet-font-size: 16px;
  --mobile-font-size: 12px;

  --h1-font-size: 6rem;
  --h2-font-size: 5rem;
  --h3-font-size: 4rem;
  --h4-font-size: 3rem;
  --h5-font-size: 2rem;
  --h6-font-size: 1rem;

  // Line Height
  --base-line-height: 1.35;
  --heading-line-height: 1;

  // Font Weight
  --base-font-weight: 300;
  --heading-font-weight: 700;

  // Site Width
  --site-width-xl: 1905px;
  --site-width-l: 1400px;
  --site-width-m: 1040px;
  --site-width-s: 840px;

  // Spacing
  $spacing-8: 0.333rem;
  $spacing-16: 0.667rem;
  $spacing-24: 1rem;
  $spacing-32: 1.333rem;
  $spacing-48: 2rem;
  $spacing-64: 2.667rem;
  $spacing-120: 5rem;

  // Box Shadow
  --box-shadow: 0px 0px 13px 6px rgba(54, 54, 54, 0.71);
  --box-shadow-inset: inset 0px 0px 13px 6px rgba(54, 54, 54, 0.71);

  // Text Shadow
  --text-shadow: -3px 2px 5px rgba(54, 54, 54, 0.5);
  --text-shadow--hard: -5px 5px 0px #363636;

  // Transitions
  --base-duration: 300ms;
  --base-timing: ease-in-out;

  // ****************** DEFAULT VARIABLES ********************//

  // Background
  --background-color: var(--primary-color);
  // Text
  --text-color: var(--secondary-color);
  // Links
  --link-color: var(--secondary-color);
  --link-color-hover: var(--accent-color);
  // Buttons
  --link-background-color: var(var(--primary-color));
  --link-background-hover-color: var(var(--accent-color));
  --link-border-color: var(var(--secondary-color));
  --link-border-hover-color: var(var(--secondary-color));

  // Focus
  --focus-outline-color: var(--secondary-color);
  --focus-outline-width: 3px;
  --focus-outline: --focus-outline-width solid --focus-outline-color;
  --focus-outline-offset: 3px;
}

[data-theme='default'] {
  // Colors
  --primary-color: var(--isabelline);
  --secondary-color: var(--dark-lava);
  --accent-color: var(--medium-carmine);
}

[data-theme='dark'] {
  // Colors
  --primary-color: var(--dark-lava);
  --secondary-color: var(--isabelline);
  --accent-color: var(--melon);
}

// Layout Modifier Sizes (see layout.scss)
$sizes: 8px, 16px, 24px, 32px, 48px, 64px, 120px, 160px, 200px;
$positions: top, right, bottom, left;
