@use 'sass:math';
@use 'sass:color';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root,
[data-theme='default'] {
  // Mask
  --mask-position: center;

  // Colors
  --dark-lava: hsla(25, 9%, 25%, 1);
  --isabelline: hsla(50, 21%, 95%, 1);
  --melon: hsla(14, 51%, 76%, 1);
  --blast-off-bronze: #9e6e5fff;
  --medium-carmine: hsla(14, 51%, 44%, 1);
  --caput-mortuum: hsla(15, 51%, 24%, 1);

  --white: #ffffff;
  --black: #000000;

  --deep-space-sparkle: hsla(193, 34%, 30%, 1);
  --blue-sapphire: hsla(190, 100%, 23%, 1);
  --viridian-green: hsla(181, 88%, 31%, 1);
  --middle-blue-green: hsla(160, 41%, 70%, 1);
  --dark-olive-green: hsla(74, 32%, 32%, 1);

  --lemon-chiffon: hsla(56, 85%, 89%, 1);
  --champagne-pink: hsla(27, 92%, 90%, 1);
  --baby-pink: hsla(356, 100%, 91%, 1);
  --pink-lavender: hsla(311, 64%, 85%, 1);
  --mauve: hsla(263, 64%, 84%, 1);
  --baby-blue-eyes: hsla(215, 77%, 80%, 1);
  --non-photo-blue: hsla(195, 82%, 76%, 1);
  --electric-blue: hsla(185, 84%, 76%, 1);
  --magic-mint: hsla(167, 82%, 78%, 1);
  --granny-smith-apple: hsla(126, 89%, 85%, 1);

  --color0: #fbf8cc;
  --color1: #fde4cf;
  --color2: #ffcfd2;
  --color3: #f1c0e8;
  --color4: #cfbaf0;
  --color5: #a3c4f3;
  --color6: #90dbf4;
  --color7: #8eecf5;
  --color8: #98f5e1;
  --color9: #b9fbc0;

  --color0-hover: #eee12f;
  --color1-hover: #eb6f0a;
  --color2-hover: #ff3341;
  --color3-hover: #d747bc;
  --color4-hover: #7e47d7;
  --color5-hover: #4a8ce8;
  --color6-hover: #33bdeb;
  --color7-hover: #1edaeb;
  --color8-hover: #20e9bd;
  --color9-hover: #3ef450;

  // Fonts
  --base-font-family: 'Poppins', sans-serif;

  // Font Size
  --base-font-size: 24px;
  --tablet-font-size: 16px;
  --mobile-font-size: 12px;

  --h1-font-size: 6rem;
  --h2-font-size: 5rem;
  --h3-font-size: 4rem;
  --h4-font-size: 3rem;
  --h5-font-size: 2rem;
  --h6-font-size: 1rem;

  // Line Height
  --base-line-height: 1.35;
  --heading-line-height: 1;

  // Font Weight
  --base-font-weight: 300;
  --heading-font-weight: 700;

  // Site Width
  --site-width-xl: 1905px;
  --site-width-l: 1400px;
  --site-width-m: 1040px;
  --site-width-s: 840px;

  // Spacing
  --spacing-8: 0.333rem;
  --spacing-16: 0.667rem;
  --spacing-24: 1rem;
  --spacing-32: 1.333rem;
  --spacing-48: 2rem;
  --spacing-64: 2.667rem;
  --spacing-120: 5rem;

  // Box Shadow
  --box-shadow: 0px 0px 13px 6px rgba(54, 54, 54, 0.71);
  --box-shadow-inset: inset 0px 0px 13px 6px rgba(54, 54, 54, 0.71);

  // Text Shadow
  --text-shadow: -3px 2px 5px rgba(54, 54, 54, 0.5);
  --text-shadow--hard: -5px 5px 0px #363636;

  // Transitions
  --base-duration: 300ms;
  --base-timing: ease-in-out;
}

[data-theme='default'] {
  // Colors
  --primary-color: var(--white);
  --secondary-color: var(--black);
  --tertiary-color: var(--melon);
  --accent-color: var(--caput-mortuum);
  // --primary-color: var(--isabelline);
  // --secondary-color: var(--dark-lava);
  // --tertiary-color: var(--melon);
  // --accent-color: var(--caput-mortuum);
}

[data-theme='alt'] {
  // Colors
  --primary-color: var(--black);
  --secondary-color: var(--white);
  --tertiary-color: var(--melon);
  --accent-color: var(--caput-mortuum);
  // --primary-color: var(--dark-lava);
  // --secondary-color: var(--isabelline);
  // --tertiary-color: var(--melon);
  // --accent-color: var(--caput-mortuum);
}

// Border
$base-border: 3px solid var(--secondary-color);

// Layout Modifier Sizes (see layout.scss)
$sizes: 8px, 16px, 24px, 32px, 48px, 64px, 120px, 160px, 200px;
$positions: top, right, bottom, left;
